.gym-map {
    display: inline-block;
}

.gym-address {
    display: inline-block;
    vertical-align: top;
}

.sidebar2.dark {
    border-color: #5c5c5c;
    background-color: #3d3d3d;
}

.sidebar2.dark li:first-child {
    border-top: none;
}