.gym-map {
    display: inline-block;
}

.gym-address {
    display: inline-block;
    vertical-align: top;
}

.sidebar2.dark {
    border-color: #5c5c5c;
    background-color: #3d3d3d;
}

.sidebar2.dark li:first-child {
    border-top: none;
}

.sidebar2.dark ul.d-menu li:first-child {
    border-top: 1px solid #5c5c5c;
}

.float-left {
    float: left;
}

.float-left .tile-wide {
    float: none;
}

.tile-subtitle {
    left: 5px;
}

.margin5 {
    margin: 5px !important;
}

.white-border {
    text-shadow: 0 0 2px #fff;
}

.tabcontrol .tabs li:hover a {
    background-color: #262626;
}

.tabcontrol .tabs li a {
    color: white;
    border-color: #5c5c5c;
    border-style: solid;
    border-width: 1px 1px 0px 0px;
}

.tabcontrol .tabs li:first-child a {
    border-left-width: 1px;
}


.tabcontrol .tabs li.active a {
    background-color: #ce352c;
    border-color: #ce352c;
}

.tabcontrol .tabs li.active:hover a {
    color: white;
}


.numeric-list li, .simple-list li {
    color: white;
}

.tabcontrol .frames .frame {
    background: transparent;
    border-color: #5c5c5c;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

.tabcontrol .tabs {
    border-bottom: 2px #5c5c5c solid;
}


.numeric-list>li:before {
    background-color: #5c5c5c;
}

.banner{
    padding-bottom: 15px;
}

.title_padding{
    padding-bottom: 20px;
}

.return_padding{
    padding-bottom: 30px;
}

.choice{
    margin-bottom:25px;
}

button_padding{
    padding-bottom: 50px;
}

.text_padding{
    margin-bottom: 45px;
}

.description{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 100px;
}

.choice_course{
    margin-left: 50px;
    margin-top: 50px;
}

.course_links{
    padding-top: 50px;
}

.relationship_links{
    padding-top: 50px;
}