.gym-map {
    display: inline-block;
}

.gym-address {
    display: inline-block;
    vertical-align: top;
}

.sidebar2.dark {
    border-color: #5c5c5c;
    background-color: #3d3d3d;
}

.sidebar2.dark li:first-child {
    border-top: none;
}

.sidebar2.dark ul.d-menu li:first-child {
    border-top: 1px solid #5c5c5c;
}

.float-left {
    float: left;
}

.float-left .tile-wide {
    float: none;
}

.tile-subtitle {
    left: 5px;
}

.margin5 {
    margin: 5px !important;
}