.left-padding{
    padding-left: 15%;
}

.top-padding{
    padding-top: 75px;
}

.gym{
    padding-left: 20px;
}

.location{
    padding-left: 20px;
}

.equip{
    margin-right: 350px;
    padding-left: 5px;
}

.fee{
    margin-right: 280px;
    padding-left: 15px;
}

.testimonials{
    padding-left: 3px;
}

.overall{
    margin-right: 300px;
    padding-left: 17px;
}

.room{
    padding-left: 15px;
}

.month{
    margin-right: 300px;
    padding-left: 15px;
}

.categories{
    margin-right: 280px;
    padding-left: 15px;    
}

.courses{
    padding-left: 10px;
}